{% extends "issues/base.html" %}

{% block content %}
  <div>
    <p> Keywords </p>
    <input type=text> <input type=submit name=Search>
  </div>
  <br>
  <h2>Results</h2>
  <table border="1">
    <tr>
      <th>Area</th>
      <th>Action</th>
    </tr>
    {% for area in areas %}
    <tr>
      <td>{{ area.name }}</td>
      <td><a href="./{{ area.id }}">Edit</a></td> <!--TODO: link this to the area belonging to this row-->
    </tr>
    {% endfor %}
  </table >
  <br>
  <h2>Add Area</h2>
  <form method="POST" action="/issues/areas/">
    {% csrf_token %}
    {{ form }}
    <input type='Submit' value='Add Area'>
  </form>

  
{% endblock %}