{% extends 'issues/base.html' %}

{% block content %}
<h3>Export resources</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
    <p>Please select format of file.</p>
    <select name='resource-name'>
        <option selected>Issue</option>
        <option>Area</option>
        <option>Program</option>
        <option>Employee</option>
    </select>
    <select name="file-format">
        <option selected>CSV</option>
        <option>JSON</option>
        <option>YAML</option>
        <option>HTML</option>
        <option>XML</option>
      </select>
    </fieldset>
    <a href="{% url 'IssueListView' %}" class="btn btn-outline-info mt-4">Back</a>
    <button class="btn btn-outline-primary mt-4" type="submit">Download</button>
  </form>
  {% endblock %} 