{% extends "issues/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-10">
      <h2>Employees</h2>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="{% url "register_view" %}">Add Employees</a>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department</th>
      <th>Access Level</th>
    </tr>
    {% for employee in employees %}
    <tr>
      <td><a href="{% url 'EmployeeUpdateView' employee.id%}" >{{ employee.id }}</a></td>
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.last_name }}</td>
      <td>{{ employee.department }}</td>
      <td>{{ employee.level }}</td>
    </tr>
  {% endfor %}
  </table >
{% endblock %}
