{% extends 'issues/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h4>Add Issue</h4>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
<div>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'IssueListView' %}" class="btn btn-outline-info">Back</a>
        <button type="submit" class="btn btn-outline-info">Create</button>
    </form>
</div>
{% endblock content %}
