{% extends "issues/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.program|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.bugType|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
         {{ form.area|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.severity|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.priority|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.status|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.assigned_to|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.reported_by|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.resolution|as_crispy_field }}
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

  {% if issues %}
    <h2 class="mt-4"> Results </h2>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Program</th>
          <th>Summary</th>
          <th>Status</th>
        </tr>
        {% for issue in issues %}
        <tr>
          <td><a href="{% url 'IssueDetailView' issue.id %}">{{ issue.id }}</a></td>
          <td>{{ issue.program }}</td>
          <td>{{ issue.summary }}</td>
          <td>{{ issue.status }}</td>
        </tr>
        {% endfor %}
      </table >

    {% else %}
    <h2>Search showed no results</h2>
      {% endif %}
    </table >
{% endblock %}
