{% extends 'issues/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h4>Update Area</h4>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
<div>
    <form method="POST"> {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'AreaListView' %}" class="btn btn-outline-info mt-2">Back</a>
        <button type="submit" class="btn btn btn-outline-info mt-2">Update Area</button>
    </form>
</div>
{% endblock content %}
