<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BugHound</title>
  <meta name="description" content="BugHound">
  <meta name="author" content="SitePoint">
</head>

<body>
  <header>
    <h1 style="display: inline; margin-right:20px;">Issue Search</h1>
    <nav style="display: inline;">
      <a href="./areas">Areas</a>
      <a href="./issues">Issues</a>
      <a href="./employees">Employees</a>
    </nav>
  </header>
  <p>Add Issue</p>
  <br>
  <form method="POST" action="./issues/">
    {% csrf_token %}
    {{ form }}
    <input type='Submit' value='Add Issues'>
  </form>

</body>
</html>
