<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BugHound</title>
  <meta name="description" content="BugHound">
  <meta name="author" content="SitePoint">
</head>

<body>
  <header>
    <h1 style="display: inline; margin-right:20px;">BugHound</h1>
    <nav style="display: inline;">
      <a href="/issues/areas/">Areas</a>
      <a href="/issues/issues/">Issues</a>
      <a href="/issues/employees/">Employees</a>
      <a href="/issues/programs/">Programs</a>
      <a href="/issues/dbmaintenance/">Database</a>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
  </body>
  </html>