{% extends "issue_pages/base.html" %}

{% block content %}
  <p>Find Employees</p>
  <br>
  <h2>Results</h2>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Access Level</th>
      <th>actions</th>
    </tr>
    {% for employee in employees %}
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.departmentID.name }}</td>
      <td>{{ employee.level }}</td>
      <td><a href="/issues/employees/{{ employee.id }}">Edit</a></td> <!--TODO: link this to the employee belonging to this row-->
    </tr>
  {% endfor %}
  </table >
  <br>
  <h2>Add an Employee</h2>
  <form method="POST" action="/issues/employees/">
    {% csrf_token %}
    {{ form }}
    <input type='Submit' value='Add Employee'>
{% endblock %}
