{% extends "issue_pages/base.html" %}

{% block content %}
  <p>Find issues by any of the following fields: "..."</p>
  <h2>Results</h2>
  <table border="1">
    <tr>
      <th>Program ID</th>
      <th>Program Name</th>
      <th>Version </th>
      <th>Release</th>
      <th>Action</th>
    </tr>
    {% for program in programs %}
    <tr>
      <td>{{ program.id }}</td>
      <td>{{ program.name }}</td>
      <td>{{ program.version }}</td>
      <td>{{ program.release }}</td>
      <td><a href="./program-edit.html">Edit</a></td> <!--TODO: link this to the area belonging to this row-->
    </tr>
    {% endfor %}
  </table >
  <br>
  <h2>Add Program</h2>
  <form method="POST" action="/issues/programs/">
    {% csrf_token %}
    {{ form }}
    <input type='Submit' value='Add Program'>
  </form>


{% endblock %}