{% extends 'issues/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h4>Update Program</h4>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
<div>
    <div class="row">
        <div class="col-6">
            <form method="POST"> {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn btn-info">Update Program</button>
                <a href="{% url 'ProgramDeleteView' program.id %}" class="btn btn-danger">Delete</a>
            </form>
        </div>
    </div>
    
</div>
{% endblock content %}
