{% extends 'issues/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h4>Update Program</h4>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
<div>
            <form method="POST"> {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.version|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.release|as_crispy_field }}
                    </div>
                </div>
                <div class="d-flex">
                    {{ form.areas|as_crispy_field }}
                    </div>
                </div>
                <a href="{% url 'ProgramListView' %}" class="btn btn-outline-info mt-5">Back</a>
                <a type="submit" class="btn btn-outline-info mt-5">Update Program</a>
                <a href="{% url 'ProgramDeleteView' program.id %}" class="btn btn-outline-danger mt-5">Delete</a>
            </form>
        </div>
    
{% endblock content %}
