@for $i from 2 to 6 {
  .grid-#{$i} {
    @include grid($i);
  }
}

main {
  padding: 0 $gap;
}

section + section {
  margin-top: 30px;
}

.report-form label,
span.label {
  @include disable-user-select();
  font-size: 18px;
}
